<h1>Thanks for your enquiry</h1>

<p>
  Hi <%= @enquiry.name %>
</p>

<p>Your enquiry has been received. One of our friendly associates will be in touch with you shortly.</p>

<p>In the meantime, why don't you like our Facebook page.</p>

<p>Have a great day!!!</p>
